.Portfolioicon {
  background-color: transparent;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-insight-box {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-top: 5px solid #0066cc;
}

.dot {
  box-shadow: 0 0 20px #f56300, 0 0 10px #f56300;
}

.card-insight-box p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-insight-icon {
  display: inline-block;
  background-color: #0066cc;
  color: #101010;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 40px #0066cc;
}

.image-shadow1 {
  box-shadow: 0px 0px 0px 0px #141414, 0px 0px 10px 0px #484747,
    0px 0px 0px 0px #141414;
}

.title-shadow {
  box-shadow: 0px 0px 50px 100px #e5e5e5 inset;
}
