.gradient-border {
  min-width: 50%;
  background-color: transparent;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Portfolioicon {
  min-width: 50%;
  background-color: transparent;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-insight-box {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #000000);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px); */
  /* padding: 50px 50px; */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); */
  /* width: 100vw; */
  /* position: relative; */
  color: #ffffff;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-top: 5px solid rgba(0, 179, 255, 0.708);
}

.dot {
  box-shadow: 0 0 20px #ff375f, 0 0 10px #ff375f;
}

.card-insight-box p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-insight-icon {
  display: inline-block;
  background-color: #34a4b86b;
  color: #101010;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 40px rgba(0, 179, 255, 0.708);
}
