.gradient-border {
  min-width: 50%;
  background-color: transparent;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

/* .gradient-border::before {
  content: "";
  background-color: rgb(0, 255, 47);
  height: 115%;
  width: 102%;
  position: absolute;
  z-index: -1;
} */

/* .gradient-border {
  min-width: 50%;
  background-color: rgb(166, 166, 166);
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 10px;
  border: 10px solid red;
} */

/* .gradient-border::after {
  content: "";
  position: absolute;
  height: 10%;
  width: 70%;
  top: 0%;
  z-index: -1;
  box-shadow: inset;
  box-shadow: 0 0 0px #64d2ff, 0 -10px 30px #64d2ff, 0px 0px 0px #64d2ff;
} */

.Portfolioicon {
  /* box-shadow: 0 0 0px #64d2ff, 0 0 0px #64d2ff, 0px -11px 40px #64d2ff; */
  min-width: 50%;
  background-color: black;
  min-height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* .Portfolioicon::before {
  content: "";
  position: absolute;
  height: 10%;
  width: 60%;
  top: 0%;
  z-index: -1;
  box-shadow: inset;
  box-shadow: 0 0 0px #64d2ff, 0 -10px 100px #64d2ff, 0px 0px 0px #64d2ff;
} */

.card-insight-box {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), #000000);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  padding: 50px 50px;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-top: 5px solid rgba(0, 179, 255, 0.708);
}
/* 
.card-insight-box::after {
  content: "wwe";
  position: absolute;
  min-height: 100%;
  min-width: 60%;
  background: repeating-radial-gradient(rgba(0, 195, 255, 0.358), #000000);
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 850px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0%;
  border: 2px solid #ee0000;
} */

/* .card-insight-box h2 {
  color: #00d9ff;
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
} */

.dot {
  box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 10px #ffffff;
}

.card-insight-box p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.card-insight-icon {
  display: inline-block;
  background-color: #34a4b86b;
  color: #101010;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 40px rgba(0, 179, 255, 0.708);
}
