#page1-in {
  perspective: 800px;
  z-index: 0px;
}

#page2-in {
  position: relative;
  perspective: 1800px;
}

.heading {
  text-shadow: 0 0 2px #fb923c, 0 0 0px #fb923c, 0 0 0px #fb923c,
    0 0 0px #fb923c, 0 0 10px #fb923c;
  color: black;
}

.container {
  height: 300vh;
  background-color: red;
  overflow: visible;
  position: relative;
}

.sticky-element {
  position: sticky;
  top: 20px;
  height: 20vh;
  background-color: green;
}

.page3_Marquee {
  rotate: -3deg;
  transform-origin: 0%;
  z-index: 1000px;
}

.page3_shiningBorder {
  box-shadow: 0 0 30px #fff, 0 0 0px #fff, 0 0 0px #fff;
  /* box-shadow: 10px -5px 9px rgba(255, 255, 255, 0.684);  */
}
