.Header_wwe1 {
  background-color: rgba(242, 242, 242, 0.08);
  background: linear-gradient(
    135deg,
    rgba(83, 83, 83, 0.359),
    rgba(138, 138, 138, 0.683)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.glowText:hover {
  text-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 10px #3b82f6;
  text-decoration: underline;
}

.glowTextMiddel {
  transition: all 0.5s ease-in-out;
}

.glowTextMiddel:hover {
  text-shadow: 0 0 10px #c7c8cd, 0 0 50px #c7c8cd, 0 0 30px #c7c8cd,
    0 0 40px #c7c8cd;
  color: black;
}

.makeItLarge {
  width: 150px;
  transition: width 0.8s;
}
.makeItLarge:hover {
  width: 250px;
}
