.Header_wwe1 {
  background-color: rgba(242, 242, 242, 0.08);
  background: linear-gradient(
    135deg,
    rgba(83, 83, 83, 0.359),
    rgba(138, 138, 138, 0.683)
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.glowText:hover {
  text-shadow: 0 0 5px #3b82f6, 0 0 10px #3b82f6, 0 0 10px #3b82f6;
  text-decoration: underline;
}

.glowTextMiddel {
  transition: all 0.5s ease-in-out;
}

.glowTextMiddel:hover {
  text-shadow: 0 0 10px #c7c8cd, 0 0 50px #c7c8cd, 0 0 30px #c7c8cd,
    0 0 40px #c7c8cd;
  color: black;
}

.makeItLarge {
  width: 150px;
  transition: width 0.8s;
}
.makeItLarge:hover {
  width: 250px;
  box-shadow: 0px 0px 13px 3px rgba(255, 255, 255, 0.278);
}

.Header_small_device {
  background: transparent;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.175);
}

.Header_small_device_inside {
  background: rgba(133, 133, 133, 0.593);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.175);
}

.Header_small_device_dropdown {
  /* transition: all 0.5s ease-in-out; */
  /* position: relative; */
  border: 2px solid green;
  color: white;
}

/* .Header_small_device_dropdown::after {
  content: "";
  position: absolute;
  top: 100px;
  right: 200px;
  width: 200px;
  position: relative;
  height: 100px;
  background: red;
  bottom: 100px;
} */

.qaisar {
  -webkit-backdrop-filter: blur(24.6px);
  backdrop-filter: blur(24.6px);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
  );
}

.qaisar1 {
  background: rgba(79, 36, 36, 0.628);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(35px);
  border: 1px solid rgba(255, 255, 255, 0.321);
}

.icon_click {
}
