.gradient-color {
  background-image: linear-gradient(180deg, #f0e4e4, #8b90a5);
  background-clip: text;
  color: transparent;
  text-shadow: 5px -2px 0px #f0e4e4, 0 0px 5px #8b90a5;
}

.color-normal {
  background-image: linear-gradient(180deg, #f0e4e4, #8b90a5);
  background-clip: text;
  color: transparent;
  text-decoration: wavy;
}

.wwww {
  background: linear-gradient(to bottom, #33333384, #000000);
}
